@charset "UTF-8";
/*

Name: Personalized Habit Tracker
Version: 1.0.0
URI: 
Description: This app was developed by Weston Digital Media. Copyright 2025.
Author: Chris Weston

*/

/**************************************************


General Page Rules


**************************************************/

html {
    font-size: 16px;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
a {
}

h1,
.h1 {
    font-size: 2rem;
}

h2,
.h2 {
    font-size: 1.5rem;
}

h3,
.h3 {
    font-size: 1.25rem;
}

h4,
.h4 {
    font-size: 1.125rem;
}

p,
ul,
ol,
li,
a {
    font-size: 1rem;
}

/**************************************************


Class Rules


**************************************************/

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.container {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    background-color: #ffffff;
    flex-basis: 100%;
    max-width: 1280px;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.header {
    padding: 1rem;
    text-align: center;
}

/********************* Forms *********************/
.login form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f3f3;
}

.form_row {
    text-align: left;
    flex-basis: 100%;
    padding: 1rem;
}

.form_row label {
    display: block;
    padding-bottom: 0.5rem;
    /* margin-bottom: 0.5rem; */
}

.form_row input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    /*margin-top: 0.25rem; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form_row button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.form_row button:hover {
    background-color: #0056b3;
}
